<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API</title>
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
<h1>API</h1>
<h3>阁下来自[{{ addr }}]</h3>
<h3>浏览器信息: [{{ HTTP_USER_AGENT }}]</h3>
选项个数: {{ apis|length }}<br>

<div>
    <form role="form" action="/api/r/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <select class="form-control" name="choice_api" id="id_select">
                {% for api in apis_list %}
                    {% if api  == last_version %}
                    <option value={{ api }} selected="selected">{{ api }}</option>
                    {% else %}
                        <option value={{ api }}>{{ api }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <div id="submit_info">
                被选中:<span id="id_span_selected"></span>
            </div>
        </div>
        <input type="submit" value="提交">
    </form>
</div>

    <script>
    $(document).ready(function(){
        var submit_info = $("select option:selected").text();
        $("#id_span_selected").append(submit_info);
        console.log(submit_info);
        $("#id_select").change(function(){ SelectChange(); });
        function SelectChange(){
        //获取下拉框选中项的text属性值
        var selectText = $("#id_select").find("option:selected").text();
            console.log("select被改变:" + selectText);
            $("#id_span_selected").html(selectText);
        }
    });
    </script>
</body>
</html>