<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API-ROOT</title>
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/api.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/local.css" rel="stylesheet">
</head>
<body>
<h1>API-ROOT</h1>
<h3>阁下来自[<span id="id_addr">{{ addr }}</span>]</h3>
<h5>浏览器信息: [{{ HTTP_USER_AGENT }}]</h5>
选项个数: {{ apis|length }}<br>

<div id="id_form">
    <form role="form" action="/api/r/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <select class="form-control" name="choice_api" id="id_select">
                {% for api in apis_list %}
                    {% if api  == last_version %}
                        <option value={{ api }} selected="selected">{{ api }}</option>
                    {% else %}
                        <option value={{ api }}>{{ api }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <div id="submit_info">
                被选中:<span id="id_span_selected"></span>
            </div>
        </div>
        <input type="submit" value="提交" class="btn btn-primary">
    </form>
</div>
<div>
    <span id="times"></span><br>
    <button id="stopTime">时间静止</button>
</div>
</body>
</html>