<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>api</title>
</head>
<body>
<h1>API</h1>
<h3>阁下来自[{{ addr }}]</h3>
选项个数: {{ apis|length }}

<div>
    <form role="form" action="/api/r/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <select class="form-control" name="choice_api">
                {% for api in apis %}
                <option value={{ api }}>{{ api }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="提交">
    </form>
</div>


</body>
</html>