<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>*前端发布*</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <hr>
        <h1>发布主页</h1>
        <hr>
    <div class="bg-primary">
        <div class="bg-info">
            <li class="well-lg">
                <a href="/ssh_qa">
                <h2>*前端发布*</h2>
                </a>
            </li>
            <li class="well-lg">
                <a href="/ssh_info">
                <h2>*前端SSH发布服务器*</h2>
                </a>
            </li>
            <li class="well-lg">
                <a href="/vueJS_index">
                <h2>*vueJS*</h2>
                </a>
            </li>
        </div>
    </div>
    </div>
</body>
</html>