<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>前端发布</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/local.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
{#    <script language="JavaScript" src="/static/local.js"></script>#}
{#    {% load staticfiles %}#}
    <script language="JavaScript" src={% static 'local.js' %}></script>
</head>
<body>
    <div class="text-primary">
        <button id="id_title" class="btn btn-primary">前端发布</button>
    </div>
    <div id="id_table" >
        <table id="table" class="table table-striped table-hover" style="width: 800px">
{#            <caption>前端发布请戳我们</caption>#}
            <thead>
                <tr>
                  <th>#</th>
{#                  <th>项目名称</th>#}
                  <th>=怼我=</th>
                  <th>查看日志</th>
                </tr>
            </thead>
            <tbody id="id_tbody" >
                {% for i,j in context_zip %}
                    <tr >
                        <th scope="row" >{{ i }}</th>
{#                        <td>Front [{{ forloop.counter }}]-> {{ j }}</td>#}
                        <td><input type="submit"  value={{ j }} name="{{ j }}" class="btn btn-sm btn-danger"/></td>
                        <td><input type="submit"  value="{{ j }}.log" name="{{ j }}" class="btn btn-sm btn-info"/></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="ssh_front_result">
        <kbd>=*=执行结果=*=</kbd><br>
    </div>


<script>
        $(document).ready(function(){
            $.ajaxSetup({
                 data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
            });
            {#执行脚本按钮#}
            $('.btn-danger').click(function(){
                var btn_text = $(this).attr("name");
                console.log(btn_text);
                var c_time = new Date();
                $.ajax({
                    url: "{% url 'ssh_qa_runshell' %}",
                    type:"POST",
                    crossDomain:true,
                    xhrFields:{withCredentials:true},
                    data: {"btn_text":btn_text},
                    cache: false,
                    dataType: "html"
                    }).done(function(ajax_req){
                        $('#ssh_front_result').html("<kbd>执行开始于[" + c_time.toLocaleString() + "]</kbd><br>" + "<kbd>Action[" + btn_text + "]</kbd><br>" + ajax_req)}).fail(function(e){
                       $('#ssh_front_result').html(e)
                });
                $('body,html').animate({ scrollTop: 0 }, 100);
            });
            {#打印日志按钮#}
            $('.btn-info').click(function(){
                var btn_text = $(this).attr("name");
                $.ajax({
                    url: "{% url 'ssh_qa_logs' %}",
                    type:"POST",
                    crossDomain:true,
                    xhrFields:{withCredentials:true},
                    data: {"btn_text":btn_text},
                    cache: false,
                    dataType: "html"
                    }).done(function(ajax_req){
                        $('#ssh_front_result').html("<kbd>[" + btn_text + "]log</kbd><br>" + ajax_req)}).fail(function(e){
                       $('#ssh_front_result').html(e)
                });
                $('body,html').animate({ scrollTop: 0 }, 100);
            });
            $('#id_title').click(function(event){
                console.log(event.pageX);
                window.location.reload();
            });
        });
    </script>
</body>
</html>