<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/vue.js"></script>
    <script src="/static/vue-resource.js"></script>

    <script>
        window.onload = function () {
            // 注册
            Vue.component('my-component', {
                template: '<div>A custom component!</div>'
            });
            var vm = new Vue({
                delimiters: ['[[', ']]'],//解决模板标签冲突
                el: '#box',
                data: {
                    msg: '生亦何欢',
                    spanID: 'spanID',
                    divSwitch: "死亦何惧",
                    showPrintLog: ""
                },
                created: function () {
                    // 这是一个钩子
                    console.log("该实例创建于: " + new Date().toString());
                },
                methods: {
                    btnReload: function () {
                        location.reload();
                    },
                    ajaxJQ: function () {
                        $.ajax({
                            url: "http://0.0.0.0:8888/api/logout/",
                            type: "GET",
                            dataType: "html", //指定服务器返回的数据类型
                            success: function (data) {
                            var result = JSON.stringify(data); //json对象转成字符串
                            console.log(data);
                            }
                        });
                    },

                    getAjax: function (){
                        this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',{
                            //这里是options参数
                            params:{wd:this.divSwitch},
                            jsonp:'cb'
                        },{
{#                            emulateJSON:true//get才生效#}
                        }).then(function(res){
                            //成功
                            console.log(res.data.q + ":" + res.data.s);
                        },function(res){
                            //失败
                        });
                    },
                    printLog: function(event){
                        console.log("Enter" + ":" + event.target.tagName + ":" + this.showPrintLog)
                    }
                }
            })
        }
    </script>
{#    <script>Vue.config.delimiters = ["[[", "]]"];</script>#}
    <title>xuchu</title>
</head>

<body>
    <div id="box" class="container">
        <h1>[[ msg ]]</h1>
        <input type="text" v-model="msg">
        <hr>
        <input type="button" value="Push" class="btn btn-danger" @click="btnReload">
        <input type="button" value="JQ" class="btn btn-info" @click="ajaxJQ">
        <hr>
        <span :id="spanID" class="well well-sm">被强行绑定了id的spanID</span>
        <hr>
        <input type="text" v-model="divSwitch">
        {% verbatim %}
        {% endverbatim %}
        <div v-if="divSwitch === '0'">
            你的输入: [[divSwitch]]
        </div>
        <div v-else-if="divSwitch === '1'">
            你的输入: [[divSwitch]]
        </div>
        <div v-else>
            Num not 0/1!!!<br>
            你的输入: [[divSwitch]]
        </div>
        <input type="button" value="vue-resource-get" class="btn btn-success" @click="getAjax">
        <hr>
        <input type="text" @keyup.enter="printLog" placeholder="按回车有惊喜" v-model.trim="showPrintLog" class="input-sm">
        <br>
        [[showPrintLog]]
        <hr>
        <my-component></my-component>
    </div>
</body>
</html>